{{!-- <h2>Your Items</h2>
<p>{{error}}</p>
<ol>
{{#each shop}}
<li class="text-muted"><p><em>Item name: {{title}}</em></p>
	<p>Price: {{price}}</p>
	<p>Who requested: {{requesters}}</p>
	<p><small>Description: {{description}}</small></p></li>
	<form method="POST" action="">
	<input type="submit" id = {{id}} name = {{id}} value="Finished">
	<form method="POST" action="">
	<input type="submit" id = {{id}} name = {{id}} value="Denied">
{{/each}}
</ol>

<ol>
{{#each shop2}}
<li class="text-muted"><p><em>Item name: {{title}}</em></p>
	<p>Price: {{price}}</p>
	<p>Who requested: {{requesters}}</p>
	<p><small>Description: {{description}}</small></p></li>
	<form method="POST" action="">
	<input type="submit" id = {{id}} name = {{id}} value="Finished">
	<form method="POST" action="">
	<input type="submit" id = {{id}} name = {{id}} value="Denied">
{{/each}}
</ol>

<h2>Requested Items</h2>
<ol>
{{#each request}}
<li class="text-muted"><p><em>Item name: {{title}}</em></p>
	<p>Price: {{price}}</p>
	<p>Owner: {{owner}}</p>
	<p><small>Description: {{description}}</small></p></li>
{{/each}}
</ol>

<ol>
{{#each request2}}
<li class="text-muted"><p><em>Item name: {{title}}</em></p>
	<p>Price: {{price}}</p>
	<p>Owner: {{owner}}</p>
	<p><small>Description: {{description}}</small></p></li>
{{/each}}
</ol> --}}

<!doctype html>
<html class="no-js" lang="">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PRODUCT DETAIL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!--FAVICON-->		
		{{!-- <link rel="shortcut icon" type="image/x-icon" href="/img_t/favicon.ico"> --}}
		
		<!-- Google Fonts
		============================================ -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,100' rel='stylesheet' type='text/css'>  
        
        <!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        
		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link rel="stylesheet" href="/css/owl.transitions.css">
        
        <!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="/lib/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="/lib/css/preview.css" type="text/css" media="screen" />
        
        <!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="/css/animate.css">
        
        <!-- meanmenu.min CSS
		============================================ -->
        <link rel="stylesheet" href="/css/meanmenu.min.css">
        
        <!-- jQuery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="/css/jQuery-ui.css">
        
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="/css/normalize.css">
        
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="/css/main.css">
        
		<!-- style CSS
		============================================ -->
		<link rel="stylesheet" href="/style.css">
        
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="/css/responsive.css">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<!--HEADER AREA START-->
		<div class="header-area home1">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="header-logo">
							<a href="/">
								<img src="img_t/logo.png" alt="">
							</a>
						</div>
					</div>
					<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
						<div class="header-menu">
							<ul id="nav">
								<li><a href="/">HOME</a></li>
								<li><a href="/personal">PERSONAL</a></li>
								<li><a href="/exist">JOIN JOURNEY</a></li>

							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="header-info">
							<ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--MOBILE MENU START-->
			<div class="mobile-menu-area home1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<nav id="dropdown">
								<ul>
								<li><a href="/">HOME</a></li>
								<li><a href="/personal">PERSONAL</a></li>
								<li><a href="/exist">JOIN JOURNEY</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--MOBILE MENU END-->
		</div>
		<!--HEADER AREA END-->

		<!--LOGIN RESTRICTION-->
		<p>{{error}}</p>

        <!--START YOUR ITEM AREA-->
		
        <div class="my-a-w-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="a-w-title">
                            <h1>Share this trip: {{id}}</h1>
									
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="wishlist-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wishlist-content">
                                <div class="wishlist-table table-responsive">
                                    <table>
                                        <thead>
										<h1>Outstanding balances: </h1>
										{{#each people}}
										<th class="product-name"><span class="nobr">{{name}} : {{#if balance}}{{#with balance}}{{this.toFixed 2}}{{/with}}{{else}}0.00{{/if}}</span></th>
										{{/each}}
										</thead>
									</table>
                                </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="my-acount-desc">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<form method="POST">
							<div class="form-fields">
                            <h2>Create default Subgroup & Split</h2>
                            {{#if message}}
                            <div class="error">{{ message }}</div>
							{{/if}}
                                <p>
                                    <label for="subgroup">Name of Plan: <span class="required">*</span></label>
                                    <input type="text" name="subgroup">
									<label for="submethod">Choose Default Method: <span class="required">*</span></label>
									<div>
										<input type="radio" name="submethod" value="percent"  onclick="subchoice()" >
										<label for="percent">share</label><br>
										<input type="radio" name="submethod" value="dollar"  onclick="subchoice()">
										<label for="dollar">+-</label><br>
										<input type="radio" name="submethod" value="split"  checked onclick="subchoice()">
										<label for="split">split</label><br>
									</div>
									<p></p>
									<label for="members">Enter Default Split: <span class="required">*</span></label>
                                    <div class="product-name" id="subpercentContent">
										{{#each people}}
											<div class='label-input'>
												<label for="person" class='align'>{{name}}</label>
												<input type="text" name = "{{name}}" class='align'> share(s)
											</div>
										{{/each}}
										
									</div>
									
									<div class="product-name" id="subdollarContent">
									
										{{#each people}}
											<div class='label-input'>
												<label for="person">{{name}}</label>
												<input type="text" name = "{{name}}" class='align'>$
											</div>
										{{/each}}
									</div>
								
									<div class="product-name" id="subsplitContent">
										{{#each people}}
											<div class='label-input'>
												<label for="person">{{name}}</label>
												<input type="checkbox" name="person" value="{{name}}" >
											</div>
										{{/each}}
										
									</div>
                                </p>   
							<div class="add-product-button">

								<input type="submit" name = "default" value="add" />
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
		<script>
			window.onload = function() {
			choice();
			subchoice();
			};
		  function choice() {
			// Get the selected method
			const percentChecked = document.querySelector('input[name="method"][value="percent"]').checked;
			const dollarChecked = document.querySelector('input[name="method"][value="dollar"]').checked;
			const splitChecked = document.querySelector('input[name="method"][value="split"]').checked;

			// Get the content containers
			const percentContent = document.getElementById('percentContent');
			const dollarContent = document.getElementById('dollarContent');
			const splitContent = document.getElementById('splitContent');

			// Show/hide the corresponding content based on the selected method
			if (percentChecked) {
			  percentContent.style.display = 'block';
			  dollarContent.style.display = 'none';
			  splitContent.style.display = 'none';
			} else if (dollarChecked) {
			  percentContent.style.display = 'none';
			  dollarContent.style.display = 'block';
			  splitContent.style.display = 'none';
			} else if (splitChecked) {
			  percentContent.style.display = 'none';
			  dollarContent.style.display = 'none';
			  splitContent.style.display = 'block';
			}
		  }
		  function subchoice() {
		  console.log("there");
			// Get the selected method
			const subpercentChecked = document.querySelector('input[name="submethod"][value="percent"]').checked;
			const subdollarChecked = document.querySelector('input[name="submethod"][value="dollar"]').checked;
			const subsplitChecked = document.querySelector('input[name="submethod"][value="split"]').checked;

			// Get the content containers
			const subpercentContent = document.getElementById('subpercentContent');
			const subdollarContent = document.getElementById('subdollarContent');
			const subsplitContent = document.getElementById('subsplitContent');

			// Show/hide the corresponding content based on the selected method
			if (subpercentChecked) {
			  subpercentContent.style.display = 'block';
			  subdollarContent.style.display = 'none';
			  subsplitContent.style.display = 'none';
			} else if (subdollarChecked) {
			  subpercentContent.style.display = 'none';
			  subdollarContent.style.display = 'block';
			  subsplitContent.style.display = 'none';
			} else if (subsplitChecked) {
			  subpercentContent.style.display = 'none';
			  subdollarContent.style.display = 'none';
			  subsplitContent.style.display = 'block';
			}
		  }
		  function updateFormFields(name, detail) {
			// Get the form fields
			console.log(detail);
			const selectedDefault = detail.find((item) => item.name === name);
			console.log(selectedDefault);
			const method = selectedDefault.method;
			const percentMethod = document.getElementById('percentMethod');
			const dollarMethod = document.getElementById('dollarMethod');
			const splitMethod = document.getElementById('splitMethod');
			if (method === "split" || method === "percent") {
				percentMethod.checked = true;
			} else {
				dollarMethod.checked = true;
			}
			choice();
			const percentContent = document.getElementById('percentContent');
			const inputs = percentContent.getElementsByTagName('input');
			for (let i = 0; i < inputs.length; i++) {
				const personName = inputs[i].name;
				inputs[i].value = selectedDefault.detail[personName] || ''; // Fill the input with the corresponding value from selectedDefault.detail, or empty string if not found
			  }


		  }
		</script>
        <div class="wishlist-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wishlist-content">
                                <div class="wishlist-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                {{!-- <th class="product-remove"><span class="nobr">Remove</span></th> --}}
												<th class="product-name"><span class="nobr">Method</span></th>
                                                <th class="product-name"><span class="nobr">Who Paid</span></th>
												
                                                <th class="product-price"><span class="nobr"> How much </span></th>
												<th class="product-name"><span class="nobr">For Who</span></th>

												<th class="product-name"><span class="nobr">description</span></th>
												<th class="product-add-to-cart"><span class="nobr">Add/Delete</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
										
											<ol>
											
										
											<form method="POST" action="" id="methods">
										<tr>
													<td class="product-name">

														<input type="radio" name="method" value="percent" id="percentMethod" onclick="choice()" >
														<label for="percent">share</label><br>
														<input type="radio" name="method" value="dollar" id="dollarMethod" onclick="choice()">
														<label for="dollar">+-</label><br>
														<input type="radio" name="method" value="split"  id="splitMethod" checked onclick="choice()">
														<label for="split">split</label><br>
														</td>

													<td class="product-name"><input type="text" name = "name" value={{info.name}}></td>
													<td class="product-price"><span class="amount"><input type="text" name = "amount" value={{info.amount}}></span></td>
													
													<td class="product-name">

														<div class='label-input'>																											
															<label for="subgroups">Plans</label>
															<select name="subgroups" onchange="updateFormFields(value, {{json subs}})">											
															{{#each subs}}
																<option value="{{name}}" >{{name}}</option>
															{{/each}}
															</select>
														</div>
														<div id="percentContent">
															{{#each people}}
																<div class='label-input'>
																	<label for="person" class='align'>{{name}}</label>
																	<input type="text" name = "{{name}}" class='align'> share(s)
																</div>
															{{/each}}
															
														</div>
														
														<div id="dollarContent">
														
															{{#each people}}
																<div class='label-input'>
																	<label for="person">{{name}}</label>
																	<input type="text" name = "{{name}}" class='align'>$
																</div>
															{{/each}}
														</div>
													
														<div id="splitContent">
															
															{{#each people}}
																<div class='label-input'>
																	<label for="person">{{name}}</label>
																	<input type="checkbox" name="person" value="{{name}}" >
																</div>
															{{/each}}
															
														</div>
													</td>
													<td class="product-name"><input type="text" name = "description" value={{info.description}}></td>
													
													<td class="product-name">
													<div class="add-product-button">
														<input type="submit" name = "sub" value="Add" />
													</div>
													</td>
										</tr>
										</form>
										<ol>
											{{#each moves}}
												<tr>
													<td class="product-name"></td>
													<td class="product-name">{{person}}</td>
													<td class="product-price"><span class="amount">$ {{amount}}</span></td>
													<td class="product-name">{{#each person_to}}{{@key}} : {{#if this}}{{this.toFixed 1}}{{/if}}$<br>{{/each}}</span></td>
													<td class="product-name">{{description}}</span></td>
													<td class="product-add-to-cart">
													<form method="POST" action=""><input type="submit" name ={{id}} value="Delete"></form>
													</td>
												</tr>
											{{/each}}
										</ol>
                                        </tbody>
                                    </table>
                                </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--END YOUR ITEM AREA-->
		
		<!--USC LINK START-->
		<div class="our-brand-area owl-indicator">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="brand-title">
							<h3>Related Links</h3>
						</div>
					</div>
				</div>
				<div class="row">
				<!--
					<div class="brand-list">
						<div class="col-md-12">
							<div class="single-brand">
								<a href="https://www.usc.edu/"><img src="/img/OW.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<a href="https://my.usc.edu/"><img src="/img/myusc.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<a href="https://libraries.usc.edu/"><img src="/img/library.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<a href="https://usc.edu/myshr"><img src="/img/myshr.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<a href="https://housing.usc.edu/"><img src="/img/uschousing.png" alt=""></a>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
        <!--USC LINK END-->

		<!--FOOTER-AREA START-->
		<div class="footer-area">
			<div class="footer-list">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="single-footer classic">
								<div class="logo">
									<a href="/"><img src="img_t/logo.png" style="height:50px;" alt=""></a>
								</div>
								<div class="f-classic-text">
									<p>This platfrom is an cost splitting website dedicated to group travelling spendings. Whether you would like to split equally, by shares, or by absolute values, there's always a way to split your bill.  </p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="single-footer">
								<h3>Contact Us</h3>
							</div>
							<div class="single-footer classic">
								<div class="classic-adress">
									<ul>
										<li><a><i class="fa fa-phone"></i></a>cellphone number</li>
										<li><a><i class="fa fa-envelope"></i></a>feedback@tthp.com</li>
										<li><a><i class="fa fa-map-marker"></i></a>University of Southern California<span>Los Angeles, CA.</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="single-footer">
								<h3>T2HP</h3>
								<div class="link-list">
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="personal">Personal</a></li>
										<li><a href="exist">Join Journey</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="single-footer">
								<h3>USC Websites</h3>
								<div class="link-list">
									<ul>
										<li><a href="https://www.usc.edu/">University of Southern California</a></li>
										<li><a href="https://viterbischool.usc.edu/">School of Viterbi Engineering</a></li>
										<li><a href="https://academics.usc.edu/">Academics</a></li>
										<li><a href="https://about.usc.edu/">About USC</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>    
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="footer-copyright">
								<p>Copyright &copy; 2023. All Rights Reserved.</p>
							</div>    
						</div>
					</div>    
				</div>
			</div>
		</div>
		<!--FOOTER AREA END-->
        
        
        
        
        <!-- jquery
		============================================ -->		
        <script src="/js/vendor/jquery-1.11.3.min.js"></script>
        
        <!-- price-slider JS
		============================================ -->		
        <script src="/js/jquery-price-slider.js"></script>
        
		<!-- bootstrap JS
		============================================ -->		
        <script src="/js/bootstrap.min.js"></script>
		<!-- wow JS
		============================================ -->		
        <script src="/js/wow.min.js"></script>
		
        <!-- Nivo slider js
		============================================ --> 		
		<script src="/lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="/lib/home.js" type="text/javascript"></script>	
        	
		<!-- meanmenu JS
		============================================ -->		
        <script src="/js/jquery.meanmenu.js"></script>
        
		<!-- owl.carousel JS
		============================================ -->		
        <script src="/js/owl.carousel.min.js"></script>
        
        <!-- mixitup js -->
        <script src="/js/jquery.mixitup.min.js"></script>
        
        <!-- jquery.collapse js -->
        <script src="/js/jquery.collapse.js"></script>
        
		<!-- scrollUp JS
		============================================ -->		
        <script src="/js/jquery.scrollUp.min.js"></script>
        
		<!-- plugins JS
		============================================ -->		
        <script src="/js/plugins.js"></script>
        
		<!-- main JS
		============================================ -->		
        <script src="/js/main.js"></script>
    </body>

</html>
